**/*.o
**/*.so
**/*.d
**/*.cxx*
**/*.pcm*
**/*dict*.h
**/*Dict*Linkdef.h
**/Linkdef.h
**/*pycache*
**/*egg-info
**/\.*
**/*z_*
root
TMP
EXAMPLES
gen_amp
benchmark
tests/samples
external/AMPTOOLS_AMPS_DATAIO/IN_PROGRESS/
external/AMPTOOLS_GENERATORS/ccdb
external/AmpTools
external/FSRoot