[submodule "external/AmpTools"]
	path = external/AmpTools
	url = https://github.com/mashephe/AmpTools
	ignore = dirty
[submodule "external/FSRoot"]
	path = external/FSRoot
	url = https://github.com/remitche66/FSRoot.git
	ignore = dirty
