default_stages: [pre-commit]
repos:
  - repo: meta # this repo checks pre-commit itself
    hooks:
      - id: check-hooks-apply # configured hooks apply to at least one file
      - id: check-useless-excludes # ensures exclude directives apply to at least one file

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-case-conflict # check for case conflicts on case-insensitive filesystems
      - id: check-merge-conflict
      - id: check-vcs-permalinks # version control system permalinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        args:
          - --extra-keys
          - |
            cell.attachments
            cell.metadata.code_folding
            cell.metadata.id
            cell.metadata.pycharm
            cell.metadata.user_expressions
            metadata.celltoolbar
            metadata.colab.name
            metadata.colab.provenance
            metadata.interpreter
            metadata.notify_time
            metadata.toc
            metadata.toc-autonumbering
            metadata.toc-showcode
            metadata.toc-showmarkdowntxt
            metadata.toc-showtags
            metadata.varInspector
            metadata.vscode

  # - repo: local
  #   hooks:
  #     - id: pytest
  #       name: pytest
  #       entry: bash -c "source $CONDA_PREFIX_1/etc/profile.d/conda.sh && conda activate PyAmpTools && pytest -v"
  #       language: system
  #       types: [python]
  #       fail_fast: true
  #       stages: [pre-push]
